body{
    background-image: linear-gradient(white, rgb(33, 28, 97));
    background-attachment: fixed;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Source Serif Pro', serif;
}
.logo{
    width: 40px;
    transition: width 4s, height 4s, transform 4s;
}
.logo:hover{
    width: 50px;
    transform: scale(0.5,2);
    transform: rotate(360deg);
}
.titulo{
    font-size: 50px;
    margin:50px 0;
    color: rgb(33, 33, 94);
    font-family: cursive;
    text-align: center;
}

.fotos{
    width: 50%;
    margin: auto;
}
.card-img-top{
    width:100%
}
.card-img-top-a{
    width: 100%;
    height: 340px;
}
